<div class="head">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
                <h1 class="title">Gutenberg Project</h1>
                <h3>A social cataloging website that allows you to freely search its database of books, annotations,
                    and reviews.</h3>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <a [routerLink]="[ '/books','fiction' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Fiction.svg" alt="fiction">
                        </div>
                        <div class="name">FICTION</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
            <a [routerLink]="[ '/books','drama' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Drama.svg" alt="drama">
                        </div>
                        <div class="name">DRAMA</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
            <a [routerLink]="[ '/books','humour' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Humour.svg" alt="Humour">
                        </div>
                        <div class="name">HUMOUR</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
            <a [routerLink]="[ '/books','politics' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Politics.svg" alt="Politics.svg">
                        </div>
                        <div class="name">POLITICS</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 col-xs-12">
            <a [routerLink]="[ '/books','philosophy' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Philosophy.svg" alt="Philosophy.svg">
                        </div>
                        <div class="name">PHILOSOPHY</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
            <a [routerLink]="[ '/books','history' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/History.svg" alt="History.svg">
                        </div>
                        <div class="name">HISTORY</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
            <a [routerLink]="[ '/books','adventure' ]">
                <div class="gen">
                    <div>
                        <div class="icon">
                            <img src="../../assets/images/Adventure.svg" alt="Adventure.svg">
                        </div>
                        <div class="name">ADVENTURE</div>
                    </div>
                    <div class="next">
                        <img src="../../assets/images/Next.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>